body {
    font-family: sans-serif;
    background-color:black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}
header img{
    margin: 10px 655px 20px 25px;
}
header a{
    margin: 30px 46px 65px 775px;
}
.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-around;
    
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    
}

article {
    background-color: white;
    padding:95px 40px 100px 50px ;
    width: 400px;
    margin-bottom:20px ;
    
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: 052A6E;
    padding: ;
    display: flex;
    color: white;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
article-h2{
    margin: 40px 40px 330px
}
